/* * {
    border: 1px solid rgb(24, 24, 20);
} */
body {
    background-color:cornsilk;
    color: darkslategray;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 4fr 1fr;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background-color: darkslategrey;
    width: 100%;
    height: 40px;
    min-width: 100%;
    padding-bottom: -5px;
    position: fixed;
    top: 0;
    z-index: 1;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;    
 }

 li.page-section {
    margin: 5px 10px;
    color: white;
    line-height: 1.5px;
    padding-top: 15px;
    padding-right: 15px;
    letter-spacing: .1rem;
    text-decoration: none;   
}
li a {
    text-decoration: none;
    color: white;
    padding: 25px;
}
a:hover {
    color: #a8e51a;
    transform: scale(1.2);
    opacity: 0.4;
  }
.navsection img {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 97.5%;
    transform: translate(0, -50%);

}
#lilogo {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 92.5%;
    transform: translate(0, -50%);
}
aside {
    position: relative;
  }
  
.menu-clicked {
    display: flex;
    position: fixed;
  }
  
.menu-clicked:first-child {
    top: 10px;
    left: 10px;
  }
  
.menu-clicked:last-child {
    top: 20px;
    right: 10px;
}

main {
    padding: 45px 20px 10px;
    margin: 0 auto;
}

.sectionEls {
    padding: 45px 20px 10px;
    border-bottom: 3px solid rgb(55, 96, 90);
}

#resume {
    text-align: center;
}
#resume img {
    height: 50px;
    
}
.resume-click {
    display: inline-flex;
    margin: 0 50px;    
}

#modal1 {
    cursor: pointer;
}
#modal2 {
    cursor: pointer;
}
#overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
    display: none; 
}
#overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
    display: none; 
}

#tech {
    display: none;
    position: fixed;
    top: 20%;
    left: 37.5%;
    z-index: 2;
    overflow: auto;
    background-color: rgb(146, 141, 141);
    opacity: 1;
    border-radius: 10%;
    
}
#travel {
    display: none;
    position: fixed;
    top: 20%;
    left: 35%;
    z-index: 2;
    overflow: auto;
    background-color: darkgray;
    opacity: 1;
    border-radius: 10%;

}
.modalcontent1 {
    background-color: darkslategray;
    color: rgb(199, 184, 124);
    letter-spacing: .1rem;
    margin: 5% auto; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    width: 90%; 
    max-width: 600px; 
    text-align: center;
    border-radius: 10%;

  }
  .modalcontent2 {
    background-color: darkslategray;
    color: rgb(199, 184, 124);
    letter-spacing: .1rem;
    margin: 5% auto; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    width: 90%; 
    max-width: 600px; 
    text-align: center;
    border-radius: 10%;
  }
  .closebutton, .closebutton2{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    background: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }
  footer {
    grid-column: 1 / 5;
  }

  @media (max-width: 1100px) {
    body {
    display: grid;
    grid-template-columns: .1fr .1fr 3fr .2fr;
    }
    li.outsidelink {
    display: none
   }
    li.page-section {
    display: none;
    }
    /* .menubtn {
    display: flex;
    position:fixed;
    top: 3%;
    right: 6%;
    z-index: 2;
    } */
    #resume img {
        height: 50px;
        margin-left: -50px;
        margin-right: -50px;   
    }
    .resume-click {
        display: inline-flex;
        margin-right: 50px;    
    }
    
  }
