body {
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
main {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;

}

input {
    display: block;
    margin: 0 auto;
}
h3 {
    display: flex;
    justify-content: center;
}
li {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#choices {
    width: fit-content;
}

#add-choice {
    margin: 5px;
}